body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 40px 15px;
  background: #f7f7f7;
}

h1 {
  margin-bottom: 30px;
}

#status {
  font-size: 32px;
  font-weight: bold;
  margin: 20px 0;
}

.loading {
  color: gray;
}

.healthy {
  color: green;
}

.degraded {
  color: orange;
}

.unstable {
  color: red;
}

#message {
  font-size: 18px;
  margin: 10px 0;
}

#updated {
  font-size: 14px;
  color: #555;
}

footer {
  margin-top: 40px;
  color: #666;
}

canvas {
  max-width: 100%;
}


/* ---------- DARK MODE ---------- */
body.dark {
  background: #121212;
  color: #eaeaea;
}

body.dark footer {
  color: #aaa;
}

body.dark .healthy {
  color: #4caf50;
}

body.dark .degraded {
  color: #ffb74d;
}

body.dark .unstable {
  color: #ef5350;
}

body.dark button {
  background: #1e1e1e;
  color: #eaeaea;
  border: 1px solid #444;
}

button {
  padding: 8px 14px;
  border-radius: 6px;
  border: 1px solid #ccc;
  cursor: pointer;
}


